@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
:root {
    --green1: #4BBEA3;
    --green2: #0AB7AC;
    --green3: #026F68;
    --green4: #3AE47F;
    --pink1: #E81E63;
    --pink2: #FC5185;
    --pink2: #9C113B;
    --red1: #FF3547;
    --purple1: #A87CE3;
    --purple2: #673FE5;
    --purple3: #4312DD;
    --gray1: #989898;
    --gray2: #606060;
    --gray3: #2E2E2E;
    --gray4:#606060e3;
}

body {
    font-family: 'Roboto' , sans-serif ;
    height: 100vh;
    font-size: 16px;

}

h1 {
    font-size:  40px;
    color:var(--green1)
}


/*Section superior do site*/
header {
    margin: 0px;
    padding:1px;
    background-image: url(/img/header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;

}

.header-section {
    display: flex;
    justify-content: center;
    margin-top:50px;

}

.titulo-header {
    position: relative;
    top: 50px;
}

.dataHora-header {
    position:relative;
    top:200px;
    left: 15px;
    color:var(--green1);
    
}

.paragrafo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color: var(--gray4);
    height: 68px ;
    width: auto;
    margin-top: 440px;
    
}



.paragrafo-header mark {
    background-color:var(--green2);
    color: #ffff;
    padding: 3px;
    border-radius: 3px;
}


/*links de navegação*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
nav a {
    position:relative;

}


.nav-links {
    color: var(--gray3);
    padding: 8px;
   
}

 #link-mot:hover {
    background-color: #4bbea336;
    border-radius: 5px;
    color: var(--green3);
}

#link-mot::after {
    content:  " ";
    width: 0%;
    height: 3px;
    background-color: var(--green1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
   

}

#link-mot:hover::after {
    width: 100%;

}


#link-pax:hover {
    background-color: #4bbea336;
    border-radius: 5px;
    color: var(--red1);
}

#link-pax::after {
    content:  " ";
    width: 0%;
    height: 3px;
    background-color: var(--red1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}

#link-pax:hover::after {
    width: 100%;
}

#link-interno:hover {
    background-color: #4bbea336;
    border-radius: 5px;
    color: var(--purple2);
}

#link-interno::after {
    content:  " ";
    width: 0%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}

#link-interno:hover::after {
    width: 100%;

}




/*Seção Cards mot*/

section {
    margin-top: 20px;
}

.titulo-artigo {
    padding: 1rem;
    margin-left: 5rem;
    
}

.card-mot{
    display: flex;
    justify-content: space-between;
}

.lista-mot {
    padding: 2rem;
    margin: auto;
}

.lista-mot ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 1rem;
    
}
.lista-mot a{
    padding: 4px;
    border-radius: 5px;
}
.link-item-mot {
    color: inherit;
}

.link-item-mot:hover {
    color: #fff;
    background-color: var(--green1);
}

/*.lista-mot {
    box-shadow: 3px 3px 3px 1px var(--gray1),
    1px 1px 1px 1px var(--gray1),
    1px 1px 1px 1px var(--gray1);
    border-radius: 8px;
}

/*Seção cards pax*/

.card-pax{
    display: flex;
    justify-content: space-between; 
}

.lista-pax {
    padding: 2rem;
    margin: auto;
}

.lista-pax ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
 .lista-pax a {
    padding: 4px;
    border-radius: 5px;
 }

.link-item-pax {
    color: inherit;
}

.link-item-pax:hover {
    color: #fff;
    background-color: var(--red1);
}

/*Seção internos*/

.card-internos{
    display: flex;
    justify-content: space-between; 
}

.lista-internos {
    padding: 2rem;
    margin: auto;
}

.lista-internos ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista-internos a {
    padding: 4px;
    border-radius: 5px;
 }

.link-item-internos {
    color: inherit;
}

.link-item-internos:hover {
    color: #fff;
    background-color: var(--purple1);
}