@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    --green1: #4BBEA3;
    --green2: #0AB7AC;
    --green3: #026F68;
    --green4: #3AE47F;
    --pink1: #E81E63;
    --pink2: #FC5185;
    --pink2: #9C113B;
    --red1: #FF3547;
    --purple1: #A87CE3;
    --purple2: #673FE5;
    --purple3: #4312DD;
    --gray1: #989898;
    --gray2: #606060;
    --gray3: #2E2E2E;
}

body {
    font-family: 'Roboto' , sans-serif ;
    height: 100vh;
    font-size: 16px;

}

h1 {
    font-size:  40px;
    color:var(--green3)
}


header {
    margin: 0px;
    padding:1px;
    background-image: url(/img/header-img.png);
    background-repeat: no-repeat;
    border-radius: 2px;
    
}

.titulo-header {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 90px;
   
  

}

.paragrafo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color: var(--gray2);
    height: 68px ;
    width: 1350px;
    margin-top: 339px;
    
    
}


.paragrafo-header mark {
    background-color:var(--green2);
    color: #ffff;
    padding: 6px;
    border-radius: 3px;
    margin: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}


.nav-links {
    transform: translate(-3px, 5px);
    color: var(--gray3);
    padding: 0px;
   
}

 a:hover {
    background-color: #4bbea336;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.0);
    color: var(--green2);
}